# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig

# macOS
.DS_Store

# Temporary files
*.swp
*.swo
*~
.tmp/

# Build
build/
